.jumbotron{
    padding: 2rem;
}

body {
    height: 100vh;
    background-image: linear-gradient(
      to right top,
      #c6f0de,
      #1fc8db,
      #2cb5e8,
      #00bf72
    );
    background-size: cover;
    background-repeat: no-repeat;
  }

#chatbox {
    text-align: left;
    height: 250px;
    width: 75%;
    background: #fff;
    border: 1px solid black;
    overflow: auto;
}