.jumbotron{
    padding: 1rem;
}

body {
    height: 100vh;
    background-image: linear-gradient(
      to right top,
      #c6f0de,
      #1fc8db,
      #2cb5e8,
      #00bf72
    );
    background-size: cover;
    background-repeat: no-repeat;
  }

#chatbox {
    text-align: left;
    height: 250px;
    width: 75%;
    background: #fff;
    border: 1px solid black;
    overflow: auto;
}

/*Buttons now have color and margins */
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #3a4468;
  margin-left: 6%;

}
  
input { font:12px arial; }

#wrapper, #loginform {
  margin:0 auto;
  padding-bottom:25px;
  background:#EBF4FB;
  width:504px;
  border:1px solid #ACD8F0; }

#loginform { padding-top:18px; }

#loginform p { margin: 5px; }

.row {
  justify-content: center;
}

.card-body {
  text-align: center;
}

#playerInterface {
  min-height: 200px;
  background: #fff;
  border-color: #3a4468;
}

#playerInterface1 {
  min-height: 200px;
  background: #fff;
  border-color: #3a4468;
}

#playerInterface2 {
  min-height: 200px;
  background: #fff;
  border-color: #3a4468;
}